<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driver}" /> <!-- 驱动名称 -->
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="filters" value="stat" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 连接池最大使用连接数量 -->
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!--初始化大小 -->
		<property name="maxWait" value="${jdbc.maxWait}" /> 
		<!-- 获取连接最大等待时间 -->
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<!-- 连接池最大空闲 -->
		<property name="minIdle" value="${jdbc.minIdle}" />
		<!-- 连接池最小空闲 -->
		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<!--逐出连接的检测时间间隔 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<!--最小逐出时间 -->
		<property name="validationQuery" value="SELECT 1" />
		<!-- 测试有效用的SQLQuery -->
		<property name="testWhileIdle" value="true" />
		<!-- 连接空闲时测试是否有效 -->
		<property name="testOnBorrow" value="false" />
		<!-- 获取连接时测试是否有效 -->
		<property name="testOnReturn" value="false" />
		<!-- 归还连接时是否测试有效 -->
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="20" /><!-- Statement缓存大小 -->
	</bean>
	<!-- Mybatis与spring的结合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations">
			<list>
			    <!-- Mybatis XML映射文件 -->
				<value>classpath*:mapper/**/*.xml</value>
			</list>
		</property>
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
	</bean>
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.demo.dao"></property>

		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>
